body {
  background: #efdec1;
  font-size: 14px;
  font-family: 'Corben', cursive;
}
.h1text {
  font-size: 20px;
}

.h2text {
  font-size: 13px;
}
.container {
  width: 600px;
  margin: 100px auto;
  background: #fff;
  border-radius: 4px;
  padding: 16px;
  position: relative;
}

#question {
  margin-bottom: 16px;
  font-weight: bold;
}

#choices {
  list-style: none;
  padding: 0;
  margin-bottom: 16px;
}

#choices > li {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.startH1{
  margin: 0 atuo;
  padding: 0;
  text-align: center; 
  font-size: 40px;
  color: yellow;
  text-shadow:1px 0 5px black;
}

.startH1span {
  margin: 0 atuo;
  padding: 0;
  text-align: center; 
  font-size: 30px;
  color: #FFFF00;
  text-shadow:3px 0 5px red;
  font-size: 40px;
}
.startH2 {
  margin: 0 atuo;
  padding: 0;
  text-align: center; 
  font-size: 30px;
  color: yellow;
  text-shadow:1px 0 5px black;
}
.startbtn {
  margin: 20px;
  padding: 0;
}
.img{
  text-align: center;
}
.startimg {
  width: 80%;
  height: 400px;
}

#choices > li:hover {
  background: #f8f8f8;
}

#choices >li.correct {
  background: #d4edda;
  border-color: #f5c6cd;
  color: #721c24;
  font-weight: bold;
}

#choices >li.correct::after {
  content: '...正解です！';
}

#choices >li.wrong {
  background: #f8d8da;
  border-color: #f5c6cb;
  color: #155724;
  font-weight: bold;
}
#choices >li {
  font-family: 'Krona One', sans-serif;
}
#choices >li.wrong::after {
  content: '....不正解です';
}

#btn ,#result > a,#coverbtn,#btn2,#btn3,#btn4{
  background: #3498db;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  box-shadow: 0 4px 0 #2880b9;
}

#btn.disabled,#btn2.disabled2,#btn3.disabled3,#btn4.disabled4{
  background: #ccc;
  box-shadow: 0 4px 0 #bbb;
  opacity: 0.7;
}

#result {
  position: absolute;
  width: 300px;
  background: #fff;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  top: 15px;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 4px;
  text-align: center;
  transition: 0.4s;
}

#result > p {
  font-size: 24px;
}
#result > a {
  display: block;
  text-decoration: none;
  font-weight: bold;
}
#result.hidden {
  transform: translateY(-500px);
}
.question-text{
  display: none;
}
.start{
  display: none;
  width: 800px;
  margin-top: 60px;
}
#btn {
  margin-top: 40px;
}
.nextstage2{
  display: none;
}
#nextbtn2,#nextbtn2,#nextbtn3,#nextbtn4{
  margin-top:20px;
  font-weight:bold;
  background-color:yellow;
  color: black;
  box-shadow: 0 4px 0 #0a3704;
  border-radius: 4px;
  padding: 8px;

}
.nextstage2,.nextstage3,.nextstage4 {
  display: none;
}
.btn1hidden,.btn2hidden,.btn3hidden,.btn4hidden{
  display: none;
}
.headH1,.headH2,.headH3,.headH4,.headH5 {
   display: none;
   width: 600px;
}

.head {
  color: rgb(237, 30, 30);
}
.head > h1 {
  font-size: 30px;
  margin: 0;
  padding: 0;
}
.current {
  display: none;
}
.head > p {
  font-size: 20px;
  text-align: end;
  padding-right: 18px;
  padding-top: 0;
  margin: 0px;
  color: black;
}
